@model LegalManagementSystem.Models.Company

@{
    ViewBag.Title = "Home Page";
}
<style>
    .section-img {
        height: 80px;
        width: 80px;
    }

    .index-item a {
        font-size: large;
    }
</style>
@*class="jumbotron"*@
<div style="margin-bottom:0px;">
    <h1>LMS</h1>
    <p class="lead">
        Law Management System is a software that enables the law firms manage
        their clients, cases, events reminder and many more.
    </p>
    @*<p><a href="https://shrishsystems.com" class="btn btn-primary btn-lg">Shrish Systems &raquo;</a></p>*@
</div>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("ITAdmin"))
    {
        <div class="align-content-center">
            <p style="font-size:x-large"><b>IT Administrator</b></p>
        </div>

        <div>
            <div class="index-item">
                <a href="@Url.Action("Register","Account")" @*data-toggle="modal"*@><span>Register new User </span></a>
            </div>
        </div>
    }
    else if (User.IsInRole("Staff"))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <div class="index-item">
                        <a href="@Url.Action("Index","Companies")"><span>1. Add your first Company </span></a>
                    </div>
                    <div>
                        <a href="@Url.Action("Index","Companies")"><img class='section-img' src="~/Content/Images/company-business.png" onclick="companyAddForm()" /></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="index-item">
                        <a href="@Url.Action("Index","Clients")"><span onclick="contactAddForm()">2. Add your first <p class="bolder">Contact</p></span></a>
                    </div>
                    <div>
                        <a href="@Url.Action("Index","Clients")"> <img class='section-img' src="~/Content/Images/smile-circle-clip-art-contacts.png" onclick="contactAddForm()" /></a>
                    </div>
                </div>

            </div>

        </div>
    }
    else if (User.IsInRole("Advocate"))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <div class="index-item">
                        <a href="@Url.Action("Index","Companies")"><span>1. Add your first Company </span></a>
                    </div>
                    <div>
                        <a href="@Url.Action("Index","Companies")"><img class='section-img' src="~/Content/Images/company-business.png" onclick="companyAddForm()" /></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="index-item">
                        <a href="@Url.Action("Index","Clients")"><span onclick="contactAddForm()">2. Add your first <p class="bolder">Contact</p></span></a>
                    </div>
                    <div>
                        <a href="@Url.Action("Index","Clients")"> <img class='section-img' src="~/Content/Images/smile-circle-clip-art-contacts.png" onclick="contactAddForm()" /></a>
                    </div>
                </div>

            </div>

        </div>
    }
}
else
{

}
