@model LegalManagementSystem.Models.Experience
@using LegalManagementSystem.Helpers
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}
<link href="~/Content/ExpandCollapse.css" rel="stylesheet" />
<div class="container">
    <div class="accordion-option">
        <h3 class="title">Experience</h3>
        <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
    </div>
    <div class="clearfix"></div>
    <div class="card-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h4 class="card-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Add Experience
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">

                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Employer Name</span>
                                        </div>
                                        <input type="text" class="form-control" id="Employer" placeholder="Employer Name" aria- label="Employer" aria-describedby="basic-addon1">
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Designation</span>
                                        </div>
                                        <input type="text" class="form-control" id="Designation" placeholder="Your Designation" aria- label="Designation" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                        <input type="text" class="form-control" placeholder="Start Date" id="StartDate">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                        <input type="text" class="form-control" placeholder="End Date" id="EndDate">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top:15px;">

                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">N</span>
                                            <span class="input-group-text">0.00</span>
                                        </div>
                                        <input type="text" class="form-control" id="Salary" placeholder="Salary in figure e.g 50000" aria-label="Amount (to the nearest dollar)">
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Description</span>
                                        </div>
                                        <textarea class="form-control" aria-label="Description" id="Description"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="button" value="Add" id="btn-save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="table-responsive">
        <div class="form-group">
            <table id="Details" border='1' class="table table-striped table-responsive"
                   style="width: 100%; overflow-y: scroll;">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        EMPLOYER
                    </th>
                    <th>
                        DESIGNATION
                    </th>
                    <th>
                        START DATE
                    </th>
                    <th>
                        END DATE
                    </th>
                    <th>
                        DESCRIPTION
                    </th>
                    <th>
                        SALARY
                    </th>
                </tr>
            </table>
        </div>
    </div>*@
@section scripts {
    <script src="~/Scripts/ExpandCollapse.js"></script>

    <script>
        $(document).ready(function () {
            $('#btn-save').click(function () {
                saveExperience();
            });
        });


        function saveExperience() {

             var experience = {};
            var url = '@Url.Action("SaveExperience","Educations")';

            var salary = $('#Salary').val();
            var designation = $('#Designation').val();
            var employer = $('#Employer').val();
            var endDate = new Date($('#EndDate').val());
            var dateStart = new Date($('#StartDate').val());
            var desc = $('#Description').val();

            experience = {
                Salary: salary,
                Designation: designation,
                Employer: employer,
                EndDate: endDate,
                DateStart: dateStart,
                Description: desc
            };

            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json',
                dataType: 'json',
                data:JSON.stringify(experience),
                success: function (e) {
                    //alert('Saved.');
                    window.location.href = '@Url.Action("Index","Experiences")';
                },
                error: function (e) {
                    window.location.href = '@Url.Action("Index","Experiences")';
                }
            });
        }
    </script>

}
