@model LegalManagementSystem.Models.Company
@using LegalManagementSystem.Helpers
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Add New Company</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger">
                                <span class="glyphicon glyphicon-remove-circle">@ViewBag.Error.ToString()</span>
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelForRequired(model => model.Name, "Company Name", htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelForRequired(model => model.ShortName, "Company Short Name", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CompanyLegalType, htmlAttributes: new { @class = "control-label " })
                                @Html.DropDownListFor(model => model.CompanyLegalType, new SelectList(ViewBag.LegalType, "Value", "Text"), "---Select Legal Type---", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CompanyLegalType, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CompanyGroup, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.CompanyGroup, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CompanyGroup, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Nationality, new SelectList(ViewBag.Countries, "Value", "Text"), "---Select Nationality---", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label " })
                                @Html.DropDownListFor(model => model.Country, new SelectList(ViewBag.Countries, "Value", "Text"), "---Select Country---", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelForRequired(model => model.MobileNumber, "Mobile Number", htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelForRequired(model => model.EmailAddress, "Email Address", htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CompanyLawyer, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.CompanyLawyer, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CompanyLawyer, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Capital, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.Capital, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Capital, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.Currency, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" style="margin-left:5px;">
                                <button type="submit" class="btn btn-info">Add</button>
                        </div>
                    </div>
                }
              
            </div>
    </div>
       
    <div class="col-md-3">

    </div>
</div>


    <!-- The Company Modal -->
    <div class="modal fade" id="myCompany">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Company</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Company Content
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" id="btnSaveCompany" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

  </div>  @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
