@model LegalManagementSystem.ViewModels.ReportParameter
@using LegalManagementSystem.Helpers
@{
    ViewBag.Title = "All Staff Report";
}
<div class="row">
    <div class="col-md-3 col-lg-4">

    </div>
    <div class=" col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header" style="background-color:#1ac6ff;color: #fff;margin-bottom:5px;">
                <h3 class="card-title text-center">All Staff</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal" style="padding:10px">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelForRequired(model => model.DocType, "Report Type", htmlAttributes: new { @class = "control-label" })

                                @Html.DropDownListFor(model => model.DocType, new SelectList(ViewBag.ReportType, "Value", "Text"), "---Select Report Type---", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DocType, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-info">Download</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-4">

    </div>
</div>

