
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}t"
@*<link href="~/Content/styles.css" rel="styleshee />*@
<style>
    #modal-container .modal-body {
        max-height: 100px;
    }

    #upload-image {
        width: 300px;
    }
</style>
<div id='cssmenu'>
    <ul>
        <li>@Html.ActionLink("Profile", "Index", "Staffs")</li>
        <li>@Html.ActionLink("Experience", "Index", "Experiences")</li>
        <li>@Html.ActionLink("Education", "Index", "Educations")</li>
        <li>@Html.ActionLink("Certification", "Index", "Certifications")</li>
        <li>@Html.ActionLink("Family Details", "Index", "Dependants")</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="col-md-12">
            <div style="margin-top:10px;">

                <img src="~/Content/Images/man-user.png" id="output" width="120" height="120" />
                <div>
                    <input type='file' accept='image/*' onchange='openFile(event)' class="form-control"><br>
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-5">

    </div>
    <div class="col-md-5"></div>
</div>

<div class="container body-content" style="padding:0;margin:0">
    <div class="col-md-12">
        @RenderBody()
    </div>
</div>
@section scripts{
    @RenderSection("scripts", required: false)
    <script>

        var openFile = function (event) {
            var input = event.target;

            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById('output');
                output.src = dataURL;
            };
            reader.readAsDataURL(input.files[0]);
        };
    </script>
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@

}


