<!doctype html>
<html lang="en">

<head>
    <title>:: LMS :: Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Lucid Bootstrap 4.1.1 Admin Template">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/assets/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/summernote/dist/summernote.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/assets/assets/css/main.css">
    <link rel="stylesheet" href="~/Content/assets/assets/css/color_skins.css">

    <!--staff profile Style
        ===================================================-->
    <link href="~/Content/styles.css" rel="stylesheet" />
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>
<body class="theme-purple">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="~/Content/assets/images/logo-icon.svg" width="48" height="48" alt="LMS"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->

    <div id="wrapper">

        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                </div>

                <div class="navbar-brand">
                    <a href="@Url.Action("Index","Home")"><img src="~/Content/Images/legal-scale.png" height="30" alt="Lucid Logo" class="img-responsive logo"></a>
                </div>

                <div class="navbar-right">
                    <form id="navbar-search" class="navbar-form search-form">
                        <input value="" class="form-control" placeholder="Search here..." type="text">
                        <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
                    </form>

                    <div id="navbar-menu">
                        <ul class="nav navbar-nav">
                            <li><a href="#" class="icon-menu d-none d-sm-block d-md-none d-lg-block"><i class="icon-calendar"></i></a></li>

                            <li><a href="@Url.Action("Login","Account")" class="icon-menu"><i class="icon-login"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div id="left-sidebar" class="sidebar mini-sidebar">
            <div class="sidebar-scroll">
                <div class="user-account">
                    <img src="~/Content/assets/images/user.png" class="rounded-circle user-photo" alt="User Profile Picture">
                    <div class="dropdown">
                        <span>Welcome,</span>
                        <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>Musa Gadabs</strong></a>
                        <ul class="dropdown-menu dropdown-menu-right account animated flipInY">
                            <li><a href="#"><i class="icon-user"></i>My Profile</a></li>
                            @*<li><a href="#"><i class="icon-envelope-open"></i>Messages</a></li>*@
                            @*<li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li>*@
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Login","Account")"><i class="icon-power"></i>Logout</a></li>
                        </ul>
                    </div>
                    <hr>
                    <!--<div class="row list-unstyled">-->
                    @*<div class="col-4">
                            <h6>5+</h6>
                            <small>Experience</small>
                        </div>*@
                    <!--<div class="col-6">
                            <h6>400+</h6>
                            <small>Employees</small>
                        </div>
                        <div class="col-6">
                            <h6>80+</h6>
                            <small>Clients</small>
                        </div>
                    </div>-->
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#hr_menu">LMS</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sub_menu"><i class="icon-grid"></i></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-l-0 p-r-0">
                    <div class="tab-pane animated fadeIn active" id="hr_menu">
                        <nav class="sidebar-nav">
                            <ul class="main-menu metismenu">
                                <li class="active"><a href="@Url.Action("Index","Home")"><i class="icon-speedometer"></i><span>LMS Dashboard</span></a></li>
                                <li><a href="#"><i class="icon-list"></i>Holidays</a></li>
                                <li><a href="#"><i class="icon-calendar"></i>Events</a></li>
                                <li><a href="#"><i class="icon-badge"></i>Activities</a></li>
                                <li>
                                    <a href="#Employees" class="has-arrow"><i class="icon-users"></i><span>LMS</span></a>
                                    <ul>
                                        <li><a href="@Url.Action("Index","Matters")">Cases</a></li>
                                        <li><a href="@Url.Action("Index","LineManagers")">Line Manager</a></li>
                                        <li><a href="@Url.Action("Index","Clients")">Clients</a></li>
                                        <li><a href="@Url.Action("Index","Staffs")">Staff Profile</a></li>
                                        <li><a href="@Url.Action("Index","FileEvents")">Events</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#Report" class="has-arrow"><i class="icon-bar-chart"></i><span>Report</span></a>
                                    <ul>
                                        <li><a href="@Url.Action("AllStaffReport","Reports")">All Staff</a></li>
                                        <li><a href="@Url.Action("AllClients","Reports")">All Clients</a></li>
                                        <li><a href="@Url.Action("CasesReport","Reports")">Cases</a></li>
                                        <li><a href="@Url.Action("CourtActivities","Reports")">Court Activities</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>

        <div id="main-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

    </div>

    <!--Main Javascript-->
    <script src="~/Content/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="~/Scripts/jquery-3.3.1.min.js"></script>-->
    <!-- Javascript -->
    <script src="~/Content/assets/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/Content/assets/assets/bundles/vendorscripts.bundle.js"></script>

    <script src="~/Content/assets/vendor/toastr/toastr.js"></script>
    <script src="~/Content/assets/assets/bundles/chartist.bundle.js"></script>
    <script src="~/Content/assets/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->

    <script src="~/Content/assets/assets/bundles/mainscripts.bundle.js"></script>
    <script src="~/Content/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/assets/vendor/summernote/dist/summernote.js"></script>
    <script src="~/Content/assets/assets/js/index.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
