
  @{ 
      Layout = "~/Views/Shared/_Layout.cshtml";
  }
        <div id='cssmenu'>
            <ul>
                <li class='active'>@Html.ActionLink("Profile", "Create", "Staffs")</li>
                <li>@Html.ActionLink("Experience", "Create", "Experiences")</li>
                <li>@Html.ActionLink("Education", "Create", "Educations")</li>
                <li>@Html.ActionLink("Certification", "Create", "Certifications")</li>
                <li>@Html.ActionLink("Dependant", "Create", "Dependants")</li>
                <li>@Html.ActionLink("Training", "Index", "Home")</li>
                <li>@Html.ActionLink("Salary", "Salary", "Staffs")</li>
                <li>@Html.ActionLink("Activity", "Contact", "Home")</li>
            </ul>
        </div>

    <div class="container body-content">
        <div class="col-md-3">
            <img src="~/Content/Images/legal-scale-icon-21.jpg" height="100" width="100" />
            <br />
            <div style="margin-top:30px;">

                <img src="~/Content/Images/man-user.png" width="120" height="120" />
                <div>
                    <input type="button" id="imageUpload" style="margin:5px; height:30px;width:70px" name="ImageFile" value="Upload" />
                    <input type="button" style="height:30px;width:70px" value="Delete" id="imageDelete" name="btnImage" />
                </div>
                
            </div>
            
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
    

