
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #modal-container .modal-body {
        max-height: 100px;
    }

    #upload-image {
        width: 300px;
    }
</style>
<div id='cssmenu'>
    <ul>
        <li class='active'>@Html.ActionLink("Profile", "Index", "Staffs")</li>
        <li>@Html.ActionLink("Experience", "Index", "Experiences")</li>
        <li>@Html.ActionLink("Education", "Index", "Educations")</li>
        <li>@Html.ActionLink("Certification", "Index", "Certifications")</li>
        <li>@Html.ActionLink("Family Details", "Index", "Dependants")</li>
    </ul>
</div>

<div class="container body-content" style="padding:0;margin:0">
    <div class="col-md-2">
        <img src="~/Content/Images/legal-scale-icon-21.jpg" height="80" width="80" />
        <br />
        <div style="margin-top:10px;">

            <img src="~/Content/Images/man-user.png" id="output" width="120" height="120" />
            <div>
                <input type='file' accept='image/*' onchange='openFile(event)' class="form-control"><br>
            </div>

        </div>

    </div>


    <div class="col-md-10">
        @RenderBody()
    </div>
</div>
<script>

        var openFile = function(event) {
                var input = event.target;

                var reader = new FileReader();
                reader.onload = function(){
                    var dataURL = reader.result;
                    var output = document.getElementById('output');
                    output.src = dataURL;
                };
                reader.readAsDataURL(input.files[0]);
        };
        //$(document).ready(function (){
        //    $('#file').change(function () {
        //        var file = this.files;
        //        if (file && file[0]) {
        //            readImage(file[0]);
        //        }
        //    });
        //});
        //var readImage = function (file) {
        //    var reader = new FileReader();
        //    var image = new Image();

        //    reader.readAsDataUrl(file);
        //    reader.onload = function (_file) {
        //        image.src = _file.target.result;
        //        image.onload = function () {
        //            var height = this.height;
        //            var width = this.width;
        //            var type = file.type;
        //            var size = ~~(file.size / 1024) + "KB";
        //            $('#imageDisplay').attr('src', _file.target.result);
        //            //$('#description').text("size: " + size + ", " + height + "X " + width + ", " + type + "");
        //            //$('#imgPreview').show();
        //        }
        //    }
        //}
    </script>