@model LegalManagementSystem.Models.Certification

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Edit Certification Info</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal" style="margin:0 auto;width:80%">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger">
                                <span class="glyphicon glyphicon-remove-circle">@ViewBag.Error.ToString()</span>
                            </div>
                        }
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            <div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Certification Name</span>
                                    </div>
                                    <input type="text" value="@Model.Name" class="form-control" id="Name" placeholder="Certification Name" aria- label="Name" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Certification Type</span>
                                    </div>
                                    <input type="text" class="form-control" id="CertificationType" placeholder="Certification Type" value="@Model.CertificationType" aria- label="CertificationType" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                    <input type="text" value="@Model.DateAchieved.Value.ToShortDateString()" class="form-control" placeholder="Date Achieved" id="DateAchieved">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="Skilled">Skilled</span>
                                    </div>
                                    @Html.DropDownListFor(model => model.Skilled, new SelectList(ViewBag.Skilled, "Value", "Text"), null, htmlAttributes: new { @class = "form-control", @id = "Skilled" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                @*<div class="col-md-12 col-sm-12">*@

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Description</span>
                                    </div>
                                    <textarea class="form-control" aria-label="Description" id="Description"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2" style="margin-top:15px; margin-left:0px">
                                <button type="button" id="update-cert" class="btn btn-default">Update</button>
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("Index","Certifications")" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
@section scripts {
    <script src="~/Scripts/ExpandCollapse.js"></script>

    <script>
        $(document).ready(function () {
            $('#update-cert').click(function () {
                editCertificate();
            });
        });


        function editCertificate() {
            var res = validate();

            if (res == false) {
                return false;
            }

            var certificate = {};
            var url = '@Url.Action("Edit","Cetifications")';

            var name = $('#Name').val();
            var skilled = $('#Skilled').val();
            var certificationType = $('#CertificationType').val();
            var dateAchieved = $('#DateAchieved').val();
            var desc = $('#Description').val();

            certificate = {
                Name: name,
                Skilled: skilled,
                CertificationType: certificationType,
                DateAchieved: new Date(dateAchieved),
                Description: desc
            };

            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json',
                dataType: 'json',
                data:JSON.stringify(certificate),
                success: function (e) {
                    alert('Update.');
                    window.location.href = '@Url.Action("Index","Cetifications")';
                },
                error: function (e) {
                    window.location.href = '@Url.Action("Index","Cetifications")';
                }
            });
        }
        function validate() {
            var isValid = true;
            if ($('#Name').val().trim() == "") {
                $('#Name').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Name').css('border-color', 'lightgrey');
            }
            if ($('#Skilled').val().trim() == "") {
                $('#Skilled').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Skilled').css('border-color', 'lightgrey');
            }
            if ($('#CertificationType').val().trim() == "") {
                $('#CertificationType').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#CertificationType').css('border-color', 'lightgrey');
            }
            if ($('#DateAchieved').val().trim() == "") {
                $('#DateAchieved').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#DateAchieved').css('border-color', 'lightgrey');
            }
            if ($('#Description').val().trim() == "") {
                $('#Description').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Description').css('border-color', 'lightgrey');
            }
            return isValid;
        }

    </script>

}


@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
