@model IEnumerable<LegalManagementSystem.Models.Certification>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h2>Certifications</h2>

<p>
    <a href="@Url.Action("Create","Certifications")" class="btn btn-primary">
        <span style="font-size:x-large" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertificationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAchieved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skilled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CertificationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAchieved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skilled)
        </td>
        <td>
            <a href="@Url.Action("Edit","Certifications",new {id = item.Id  })" style="margin-right:10px;">
                <span style="font-size:large" class="glyphicon glyphicon-edit"></span>
            </a>
            <a href="@Url.Action("Details","Certifications",new {id = item.Id})">
                <span style="font-size:large" class="glyphicon glyphicon-eye-open"></span>
            </a>
        </td>
    </tr>
}

</table>
