@model LegalManagementSystem.Models.Staff
@using LegalManagementSystem.Helpers
@{
    ViewBag.Title = "Staff Info";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<!--CSS for Staff Menu -->
<link href="~/Content/MenuStyle.css" rel="stylesheet" />
<h2>Profile</h2>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        //"Create", ,  FormMethod.Post,
        using (Html.BeginForm("Create", "Staffs", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row form-horizontal" style="padding-right:17px;">
                <div class="col-md-6">
                    @if (ViewBag.Error != null)
                    {
                        <span style="color:red;">@ViewBag.Error.ToString()</span>
                    }
                    <div class="panel panel-primary" style="height:380px;">
                        <div class="panel-heading">PERSONAL DATA</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.FirstName, "First Name", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Middle Name" } })
                                    @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.LastName, "Last Name", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new { @class = "control-label" })

                                    @Html.DropDownListFor(model => model.MaritalStatus, new SelectList(ViewBag.Marital, "Value", "Text"), "---Select Marital Status---", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaritalStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.DOB, "Date of Birth", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @placeholder = "09 Feb 2019" } })
                                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Gender, new SelectList(ViewBag.Gender, "Value", "Text"), "---Select Gender---", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.NationalIdentityNumber, "Personal Identity Number", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NationalIdentityNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Personal Identity Number" } })
                                    @Html.ValidationMessageFor(model => model.NationalIdentityNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.BloodGroup, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.BloodGroup, new SelectList(ViewBag.BloodGroup, "Value", "Text"), "---Select Blood Group---", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BloodGroup, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">ADDRESS & CONTACT INFORMATION</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.Address, "Contact Address", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "none@none.com" } })
                                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.MobileNo, "Mobile Number", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "+2348000000000" } })
                                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.PersonalEmail, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PersonalEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "none@none.com" } })
                                    @Html.ValidationMessageFor(model => model.PersonalEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.OfficeNo, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.OfficeNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "+2349000000000" } })
                                    @Html.ValidationMessageFor(model => model.OfficeNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.Password, "Password", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.StaffId, "Staff Number", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.StaffId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.StaffId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @*@Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">EMPLOYMENT INFORMATION</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.DOE, "Date of Employment", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.DOE, new { htmlAttributes = new { @class = "form-control", @placeholder = "09 Feb 2019" } })
                                    @Html.ValidationMessageFor(model => model.DOE, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.LineManagerId, "Line Manager", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.LineManagerId, Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @class = "form-control", id = "lineMger" })
                                    @Html.ValidationMessageFor(model => model.LineManagerId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.Department, "Department", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", @placeholder = "Department" } })
                                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.Designation, "Designation", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Senior Developer" } })
                                    @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.YearCallToBar, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.YearCallToBar, new { htmlAttributes = new { @class = "form-control", @placeholder = "5" } })
                                    @Html.ValidationMessageFor(model => model.YearCallToBar, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.Location, "Location", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Call to Bar location" } })
                                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Bank, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Bank, new { htmlAttributes = new { @class = "form-control", @placeholder = "UBA" } })
                                    @Html.ValidationMessageFor(model => model.Bank, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "1234567890" } })
                                    @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary" style="height:380px;">
                        <div class="panel-heading">EMERGENCY CONTACT</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.NKFullName, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.NKFullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Full Name" } })
                                    @Html.ValidationMessageFor(model => model.NKFullName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Relationship, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.Relationship, new { htmlAttributes = new { @class = "form-control", @placeholder = "Relationship" } })
                                    @Html.ValidationMessageFor(model => model.Relationship, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.KTelephone, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.KTelephone, new { htmlAttributes = new { @class = "form-control", @placeholder = "+2348022222222" } })
                                    @Html.ValidationMessageFor(model => model.KTelephone, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.NKEmail, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NKEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "none@none.com" } })
                                    @Html.ValidationMessageFor(model => model.NKEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.NKAddress, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.NKAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })
                                    @Html.ValidationMessageFor(model => model.NKAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        //"Create", "Staffs",FormMethod.Post, new { @enctype = "multipart/form-data" }
        using (Html.BeginForm("Create", "Staffs", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row form-horizontal" style="padding-right:17px;">
                <div class="col-md-6">
                    <div class="panel panel-primary" style="height:380px;">
                        <div class="panel-heading">PERSONAL DATA</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.FirstName, "First Name", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Middle Name" } })
                                    @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.LastName, "Last Name", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new { @class = "control-label" })

                                    @Html.DropDownListFor(model => model.MaritalStatus, new SelectList(ViewBag.Marital, "Value", "Text"), "---Select Marital Status---", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaritalStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.DOB, "Date of Birth", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @placeholder = "09 Feb 2019" } })
                                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Gender, new SelectList(ViewBag.Gender, "Value", "Text"), "---Select Gender---", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">ADDRESS & CONTACT INFORMATION</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.Address, "Contact Address", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "none@none.com" } })
                                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.MobileNo, "Mobile Number", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "+2348000000000" } })
                                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.PersonalEmail, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PersonalEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "none@none.com" } })
                                    @Html.ValidationMessageFor(model => model.PersonalEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.OfficeNo, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.OfficeNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "+2349000000000" } })
                                    @Html.ValidationMessageFor(model => model.OfficeNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.Password, "Password", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.StaffId, "Staff Number", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.StaffId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.StaffId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @*@Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">EMPLOYMENT INFORMATION</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.DOE, "Date of Employment", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.DOE, new { htmlAttributes = new { @class = "form-control", @placeholder = "09 Feb 2019", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.DOE, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.LineManagerId, "Line Manager", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.LineManagerId, Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @class = "form-control", disabled = "disabled", id = "lineMger" })
                                    @Html.ValidationMessageFor(model => model.LineManagerId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.Department, "Department", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", @placeholder = "Department" } })
                                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.Designation, "Designation", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Senior Developer" } })
                                    @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.YearCallToBar, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.YearCallToBar, new { htmlAttributes = new { @class = "form-control", @placeholder = "5" } })
                                    @Html.ValidationMessageFor(model => model.YearCallToBar, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelForRequired(model => model.Location, "Location", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Call to Bar location" } })
                                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Bank, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Bank, new { htmlAttributes = new { @class = "form-control", @placeholder = "UBA" } })
                                    @Html.ValidationMessageFor(model => model.Bank, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "1234567890" } })
                                    @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary" style="height:380px;">
                        <div class="panel-heading">EMERGENCY CONTACT</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md- 6">
                                    @Html.LabelFor(model => model.NKFullName, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.NKFullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Full Name" } })
                                    @Html.ValidationMessageFor(model => model.NKFullName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Relationship, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.Relationship, new { htmlAttributes = new { @class = "form-control", @placeholder = "Relationship" } })
                                    @Html.ValidationMessageFor(model => model.Relationship, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.KTelephone, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.KTelephone, new { htmlAttributes = new { @class = "form-control", @placeholder = "+2348022222222" } })
                                    @Html.ValidationMessageFor(model => model.KTelephone, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.NKEmail, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NKEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "none@none.com" } })
                                    @Html.ValidationMessageFor(model => model.NKEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.NKAddress, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.NKAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })
                                    @Html.ValidationMessageFor(model => model.NKAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script>
    $(document).ready(function () {

        //select2DropDown('ClientId', '@Url.Action("GetClientForDropDown", "Matters")', "Select Client");
        select2DropDown('advocateGroup', '@Url.Action("GetAdvocateGroupForDropDown", "Staffs")', "Select Advocate Group");
        select2DropDown('lineMger', '@Url.Action("GetLineManagerForDropDown", "Matters")', "Select Line Manager");

    });


    function select2DropDown(elementId,url,placeholder) {
        $('#' + elementId).select2({
            placeholder: placeholder,
            //minimumInputLength:3,
            allowclear: true,
            theme: "classic",
            ajax: {
                url: url,
                datatype: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        searchKey: params.term
                    };
                },
                processResults: function (data,params) {
                    return {
                        results: data
                    };
                }
            }
        });
    }
</script>

@*<div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@


@*<div class="form-group">
        @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
        </div>
    </div>*@
