@model LegalManagementSystem.Models.Staff
@using LegalManagementSystem.Helpers
@{
    ViewBag.Title = "Staff Info";
    //Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<!--CSS for Staff Menu -->
@*<link href="~/Content/MenuStyle.css" rel="stylesheet" />*@
@*<h2>Profile</h2>*@

<div class="clearfix" style="margin-top:20px;">
    <img src="~/Content/Images/man-user.png" style="margin-left:20px; padding:5px;" id="output" width="140" height="100" />
    <div class="col-md-3">
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" accept="image/*" onchange="openFile(event)" class="custom-file-input" id="fileBase">
                <label class="custom-file-label" for="fileBase"></label>
            </div>
        </div>
        <br>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        //"Create", ,  FormMethod.Post,
        using (Html.BeginForm("Create", "Staffs", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.Error != null)
                        {
                            <span style="color:red;">@ViewBag.Error.ToString()</span>
                        }
                        <div class="card">
                            @*style="height:380px; "*@
                            <div class="card-header">
                                <h5 class="card-title">PERSONAL DATA</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">First Name</span>
                                            </div>
                                            <input type="text" class="form-control" id="FirstName" placeholder="First Name"
                                                   aria- label="FirstName" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Middle Name</span>
                                            </div>
                                            <input type="text" class="form-control" id="MiddleName" placeholder="Middle Name"
                                                   aria- label="MiddleName" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Last Name</span>
                                            </div>
                                            <input type="text" class="form-control" id="LastName" placeholder="Last Name"
                                                   aria- label="LastName" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Marital Status</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.MaritalStatus, new SelectList(ViewBag.Marital, "Value", "Text"), null, htmlAttributes: new { @class = "form-control", @id = "MaritalStatus" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                            <input type="text" class="form-control" placeholder="Date of Birth" id="DOB">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Gender</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.Gender, new SelectList(ViewBag.Gender, "Value", "Text"), null, htmlAttributes: new { @class = "form-control", @id = "Gender" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Identity Number</span>
                                            </div>
                                            <input type="text" class="form-control" id="NationalIdentityNumber"
                                                   placeholder="National Identity Number"
                                                   aria-label="NationalIdentityNumber" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Gender</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.BloodGroup, new SelectList(ViewBag.BloodGroup, "Value", "Text"), null, htmlAttributes: new { @class = "form-control", @id = "BloodGroup" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="card">
                            <div class="card-header">
                                <h5>ADDRESS & CONTACT INFORMATION</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Address</span>
                                            </div>
                                            <textarea class="form-control" aria-label="Address" id="Address"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12" style="margin-top:15px;">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                            </div>
                                            <input type="text" id="EmailAddress" class="form-control email"
                                                   placeholder="Email Address">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-mobile-phone"></i></span>
                                            </div>
                                            <input type="text" id="MobileNo" class="form-control mobile-phone-number"
                                                   placeholder="Mobile No">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                            </div>
                                            <input type="text" id="PersonalEmail" class="form-control email"
                                                   placeholder="Personal Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-mobile-phone"></i></span>
                                            </div>
                                            <input type="text" id="OfficeNo" class="form-control mobile-phone-number"
                                                   placeholder="Office No">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Password</span>
                                            </div>
                                            <input type="password"  class="form-control" id="Password" placeholder="Password"
                                                   aria- label="Password" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Staff Number</span>
                                            </div>
                                            <input type="text" class="form-control" id="StaffId" placeholder="Staff Number"
                                                   aria- label="StaffId" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>EMPLOYMENT INFORMATION</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                            <input type="text" class="form-control" placeholder="Date of Employment"
                                                   disabled="disabled" id="DOE">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Line Manager</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.LineManagerId, Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @class = "form-control", id = "lineMger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Department</span>
                                            </div>
                                            <input type="text" class="form-control" id="Department" placeholder="Department"
                                                   aria- label="Department" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Designation</span>
                                            </div>
                                            <input type="text" class="form-control" id="Designation" placeholder="Senior Developer"
                                                   aria- label="Designation" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Year Call To Bar</span>
                                            </div>
                                            <input type="text" class="form-control" id="YearCallToBar" placeholder="3" aria- label="YearCallToBar" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Location</span>
                                            </div>
                                            <input type="text" class="form-control" id="Location" placeholder="Call to Bar location" aria- label="Location" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Bank</span>
                                            </div>
                                            <input type="text" class="form-control" id="Bank" placeholder="UBA" aria-label="Bank"
                                                   aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Account Number</span>
                                            </div>
                                            <input type="text" class="form-control" id="AccountNumber" placeholder="1234567890"
                                                   aria- label="AccountNumber" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5>EMERGENCY CONTACT</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Full Name</span>
                                            </div>
                                            <input type="text" class="form-control" id="NKFullName" placeholder="Full Name" aria- label="NKFullName" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Relationship</span>
                                            </div>
                                            <input type="text" class="form-control" id="Relationship" placeholder="Relationship" aria- label="Relationship" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-mobile-phone"></i></span>
                                            </div>
                                            <input type="text" id="KTelephone" class="form-control mobile-phone-number"
                                                   placeholder="Ex: (080) 0000-00-00">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                            </div>
                                            <input type="text" id="NKEmail" class="form-control email"
                                                   placeholder="Ex: example@example.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Address</span>
                                                </div>
                                                <textarea class="form-control" aria-label="NKAddress" id="NKAddress"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <input type="button" value="Add" class="btn btn-primary" id="add-Staff" />
                            </div>
                        </div>
                    </div>
                </div>
        }

    }
    else
    {
        //"Create", "Staffs",FormMethod.Post, new { @enctype = "multipart/form-data" }*@
        using (Html.BeginForm("Create", "Staffs", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row" style="padding-right:17px;">
                <div class="col-md-6">
                    <div class="card">
                        @*style="height:380px;"*@
                        <div class="card-header">
                            <h5 class="card-title"> PERSONAL DATA</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">First Name</span>
                                        </div>
                                        <input type="text" class="form-control" id="FirstName" placeholder="First Name"
                                               aria- label="FirstName" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Middle Name</span>
                                        </div>
                                        <input type="text" class="form-control" id="MiddleName" placeholder="Middle Name"
                                               aria- label="MiddleName" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Last Name</span>
                                        </div>
                                        <input type="text" class="form-control" id="LastName" placeholder="Last Name"
                                               aria- label="LastName" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">

                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Marital Status</span>
                                        </div>
                                        @Html.DropDownListFor(model => model.MaritalStatus, new SelectList(ViewBag.Marital, "Value", "Text"), null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                        <input type="text" class="form-control" placeholder="Date of Birth"
                                               disabled="disabled" id="DOB">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Gender</span>
                                        </div>
                                        @Html.DropDownListFor(model => model.Gender, new SelectList(ViewBag.Gender, "Value", "Text"), null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">ADDRESS & CONTACT INFORMATION</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Address</span>
                                        </div>
                                        <textarea class="form-control" aria-label="Address" id="Address"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                        </div>
                                        <input type="text" id="EmailAddress" class="form-control email"
                                               placeholder="Ex: example@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-mobile-phone"></i></span>
                                        </div>
                                        <input type="text" id="MobileNo" class="form-control mobile-phone-number"
                                               placeholder="Ex: (080) 0000-00-00">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                        </div>
                                        <input type="text" id="PersonalEmail" class="form-control email"
                                               placeholder="Ex: example@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-mobile-phone"></i></span>
                                        </div>
                                        <input type="text" id="OfficeNo" class="form-control mobile-phone-number"
                                               placeholder="Ex: (080) 0000-00-00">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Password</span>
                                        </div>
                                        <input type="password" class="form-control" id="Password" placeholder="Password"
                                               aria- label="Password" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Staff Number</span>
                                        </div>
                                        <input type="text" class="form-control" id="StaffId" placeholder="Staff Number"
                                               aria- label="StaffId" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">EMPLOYMENT INFORMATION</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                        <input type="text" class="form-control" placeholder="Date of Employment"
                                               disabled="disabled" id="DOE">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Line Manager</span>
                                        </div>
                                        @Html.DropDownListFor(model => model.LineManagerId, Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @class = "form-control", disabled = "disabled", id = "lineMger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Department</span>
                                        </div>
                                        <input type="text" class="form-control" id="Department" placeholder="Department"
                                               aria- label="Department" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Designation</span>
                                        </div>
                                        <input type="text" class="form-control" id="Designation" placeholder="Senior Developer"
                                               aria- label="Designation" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Year Call To Bar</span>
                                        </div>
                                        <input type="text" class="form-control" id="YearCallToBar" placeholder="3" aria- label="YearCallToBar" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Location</span>
                                        </div>
                                        <input type="text" class="form-control" id="Location" placeholder="Call to Bar location" aria- label="Location" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Bank</span>
                                        </div>
                                        <input type="text" class="form-control" id="Bank" placeholder="UBA" aria-label="Bank"
                                               aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Account Number</span>
                                        </div>
                                        <input type="text" class="form-control" id="AccountNumber" placeholder="1234567890"
                                               aria- label="AccountNumber" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        @*style="height:380px;"*@
                        <div class="card-header">
                            <h5 class="card-title">EMERGENCY CONTACT</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md- 6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Full Name</span>
                                        </div>
                                        <input type="text" class="form-control" id="NKFullName" placeholder="Full Name" aria- label="NKFullName" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Relationship</span>
                                        </div>
                                        <input type="text" class="form-control" id="Relationship" placeholder="Relationship" aria- label="Relationship" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-mobile-phone"></i></span>
                                        </div>
                                        <input type="text" id="KTelephone" class="form-control mobile-phone-number"
                                               placeholder="Ex: (080) 0000-00-00">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                        </div>
                                        <input type="text" id="NKEmail" class="form-control email"
                                               placeholder="Ex: example@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Address</span>
                                        </div>
                                        <textarea class="form-control" aria-label="NKAddress" id="NKAddress"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add" class="btn btn-primary" id="add-Staff" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
@section scripts{
    <script src="~/Scripts/select2.min.js"></script>
    <script>
    $(document).ready(function () {

        //select2DropDown('ClientId', '@Url.Action("GetClientForDropDown", "Matters")', "Select Client");
        select2DropDown('advocateGroup', '@Url.Action("GetAdvocateGroupForDropDown", "Staffs")', "Select Advocate Group");
        select2DropDown('lineMger', '@Url.Action("GetLineManagerForDropDown", "Matters")', "Select Line Manager");
        $('#add-Staff').click(function () {
            saveStaff();
        });

    });

        function saveStaff() {
             var data = new FormData();
            //var fileFields = $('form input[type=file]')[0].files[0];
            var file = $('#fileBase')[0].files[0];

            //$.each(fileFields, function (i, file) {
                data.append('file', file);
            //});
                //data.append('files', file);
            

            var staff = {};

            var firstName = $('#FirstName').val();
            var middleName = $('#MiddleName').val();
            var lastName = $('#LastName').val();
            var maritalStatus = $('#MaritalStatus').val();
            var dOB = new Date($('#DOB').val());
            var gender = $('#Gender').val();
            var nationalIdentityNumber = $('#NationalIdentityNumber').val();
            var bloodGroup = $('#BloodGroup').val();

            var address = $('#Address').val();
            var emailAddress = $('#EmailAddress').val();
            var mobileNo = $('#MobileNo').val();
            var personalEmail = $('#PersonalEmail').val();
            var officeNo = $('#OfficeNo').val();
            var password = $('#Password').val();
            var staffId = $('#StaffId').val();

            var dOE = new Date($('#DOE').val());
            var linMger = $('#lineMger').val();
            var department = $('#Department').val();
            var designation = $('#Designation').val();
            var yearCallToBar = $('#YearCallToBar').val();
            var location = $('#Location').val();
            var bank = $('#Bank').val();
            var accountNumber = $('#AccountNumber').val();

            var nKFullName = $('#NKFullName').val();
            var relationship = $('#Relationship').val();
            var kTelephone = $('#KTelephone').val();
            var nKEmail = $('#NKEmail').val();
            var nKAddress = $('#NKAddress').val();



            staff = {
                //PERSONAL DATA
                FirstName: firstName,
                MiddleName: middleName,
                LastName: lastName,
                MaritalStatus: maritalStatus,
                DOB: dOB,
                Gender: gender,
                NationalIdentityNumber: nationalIdentityNumber,
                BloodGroup: bloodGroup,

                //ADDRESS & CONTACT INFORMATION
                Address: address,
                EmailAddress: emailAddress,
                MobileNo: mobileNo,
                PersonalEmail: personalEmail,
                OfficeNo: officeNo,
                Password: password,
                StaffId: staffId,

                //EMPLOYMENT INFORMATION
                DOE: dOE,
                lineMger: linMger,
                Department: department,
                Designation: designation,
                YearCallToBar: yearCallToBar,
                Location: location,
                Bank: bank,
                AccountNumber: accountNumber,

                //EMERGENCY CONTACT
                NKFullName: nKFullName,
                Relationship: relationship,
                KTelephone: kTelephone,
                NKEmail: nKEmail,
                NKAddress:nKAddress

            };

            data.append('model', JSON.stringify(staff));

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create","Staffs")',
                data: data,//JSON.stringify(staff),
                contentType: 'application/json',
                success: function () {
                    alert('Saved');
                    window.location.href='@Url.Action("Create","Experiences")'
                },
                error: function (e) {
                    window.location.href='@Url.Action("Create","Experiences")'
                    //alert(e);
                }
            });
        }

        function select2DropDown(elementId,url,placeholder) {
        $('#' + elementId).select2({
            placeholder: placeholder,
            //minimumInputLength:3,
            allowclear: true,
            theme: "classic",
            ajax: {
                url: url,
                datatype: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        searchKey: params.term
                    };
                },
                processResults: function (data,params) {
                    return {
                        results: data
                    };
                }
            }
        });
        }

        var openFile = function (event) {
                var input = event.target;

                var reader = new FileReader();
                reader.onload = function () {
                    var dataURL = reader.result;
                    var output = document.getElementById('output');
                    output.src = dataURL;
                };
                reader.readAsDataURL(input.files[0]);
        };

        function validate() {
            var isValid = true;
            if ($('#matterNumber').val().trim() == "") {
                $('#matterNumber').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#matterNumber').css('border-color', 'lightgrey');
            }
            if ($('#DocName').val().trim() == "") {
                $('#DocName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#DocName').css('border-color', 'lightgrey');
            }
            if ($('#Description').val().trim() == "") {
                $('#Description').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Description').css('border-color', 'lightgrey');
            }
            return isValid;
        }
    </script>

}