@model LegalManagementSystem.Models.Staff

@{
    ViewBag.Title = "Details";
}
<style>
    dl {
        /*border: 3px double #ccc;*/
        padding: 0.5em;
    }

    dt {
        /*float: left;
                clear: left;*/
        /*width: 100px;*/
        text-align: right;
        font-weight: bold;
        color: green;
    }

        dt::after {
            content: ":";
        }

    dd {
        /*margin: 0 0 0 110px;
                padding: 0 0 0.5em 0;*/
        text-align: left;
    }
</style>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title align-center">STAFF DETAILS</h5>
            </div>
            <div class="card-body">
                <div class="float-right">
                    <img src="~/App_Data/StaffImages/@Model.ImagePath" class="rounded-circle" width="120" height="120" alt="Staff_Image" />
                </div>
                @*<div class="align-center">
                    <img src="" alt="" height="120" width="120" />
                </div>*@
                <dl class="row">
                    <dt class="col-md-4 col-sm-12">
                        First Name
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Middle Name
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.MiddleName)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Last Name
                    </dt>

                    <dd class="col-md-8 col-sm-12">

                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Gender
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @*@Html.DisplayFor(model => model.Gender)*@
                        @ViewBag.Gender
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Date of Birth
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Model.DOB.ToShortDateString()
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Date of Employment
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Model.DOE.ToShortDateString()
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Marital Status
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.MaritalStatus)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Office Number
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.OfficeNo)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Mobile Number
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.MobileNo)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Email Address
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.EmailAddress)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Personal Email Address
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.PersonalEmail)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Relationship
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.Relationship)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Next of kin Full Name
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.NKFullName)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Next of Kin Mobile Number
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.KTelephone)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Next of Kin Email Address
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.NKEmail)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Next of Kin Address
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.NKAddress)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Bank
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.Bank)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Account Number
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.AccountNumber)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Line Manager
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @*@Html.DisplayFor(model => model.LineManagerId)*@
                        @ViewBag.LineManager
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Department
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.Department)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Designation
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.Designation)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Year Call to Bar
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.YearCallToBar)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Call to Bar Location
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @Html.DisplayFor(model => model.Location)
                    </dd>

                    <dt class="col-md-4 col-sm-12">
                        Advocate Group
                    </dt>

                    <dd class="col-md-8 col-sm-12">
                        @ViewBag.AdvocateGroup
                    </dd>

                </dl>
            </div>
        </div>
    </div>
    <div class="col-1">
        
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StaffId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
