@model IEnumerable<LegalManagementSystem.Models.Dependant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h2>Family Details</h2>


<p>
    <a href="@Url.Action("Create","Dependants")" class="btn btn-primary">
        <span style="font-size:x-large" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>
</p>
<table class="table table-striped table-responsive" id="tbl-Dependant">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.Address)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>*@
            <td>
                <a href="@Url.Action("Edit","Dependants",new {id = item.Id  })" style="margin-right:10px;">
                    <span style="font-size:large" class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="@Url.Action("Details","Dependants",new {id = item.Id})">
                    <span style="font-size:large" class="glyphicon glyphicon-eye-open"></span>
                </a>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    
    <script>
        $(document).ready(function () {
            $('#tbl-Dependant').DataTable({
            
            });
        });
    </script>

}
