@model LegalManagementSystem.Models.Document
@using LegalManagementSystem.Helpers

@{
    ViewBag.Title = "Create";
}
@*<link href="~/md-template/css/mdb.css" rel="stylesheet" />*@

<link href="~/Content/css/select2.min.css" rel="stylesheet" />

<div class="row" style="margin-top:15px;">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="card">
            @*style="background-color:#1ac6ff;color: #fff;margin-bottom:5px;"*@
            <div class="card-header">
                <h3 class="card-title text-center text-capitalize">Add Document</h3>
            </div>
            <div class="panel-body" style="margin:20px">
                @using (Html.BeginForm("Create", "Documents", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @if (ViewBag.Error != null)
                    {
                        <span style="color:red;">@ViewBag.Error.ToString()</span>
                    }

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Case Number</span>
                                </div>
                                @Html.DropDownListFor(model => model.MatterNumber, Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @class = "form-control matterId", @id = "matterNumber" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Document Name</span>
                                </div>
                                <input type="text" class="form-control" id="DocName" placeholder="Document Name" aria-label="DocName" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                <input type="text" class="form-control" placeholder="Assigned Date" id="AssignedDate">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:15px;">

                        <div class="col-md-12 col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Document Tags</span>
                                </div>
                                <input type="text" class="form-control" id="Tags" placeholder="Document Tags" aria-label="Tags" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Document Path</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" name="fileBase" class="custom-file-input" id="fileBase">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="margin-top:15px;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Description</span>
                                </div>
                                <textarea class="form-control" aria-label="Description" id="Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="saveDocument">Add</button>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>

@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@


@section scripts{
    <script src="~/Scripts/select2.min.js"></script>

    <script>
        $(document).ready(function () {

            select2DropDown('matterNumber', '@Url.Action("GetMatterForDropDown", "Documents")', "Select Case");
            $('#saveDocument').click(function () {
                saveDocument();
            });
        
        });

        function select2DropDown(elementId, url, placeholder) {
            $('#' + elementId).select2({
                placeholder: placeholder,
                //minimumInputLength:3,
                allowclear: true,
                theme: "classic",
                ajax: {
                    url: url,
                    datatype: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            searchKey: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    }
                }
            });
        }

        function saveDocument() {
            var res = validate();
            
            if (res == false) {  
                return false;  
            }
            var doc = {
                MatterNumber:$('#matterNumber').val(),
                DocName: $('#DocName').val(),
                AssignedDate:new Date($('#AssignedDate').val()),
                Tags: $('#Tags').val(),
                Description: $('#Description').val()
            };

  

            var data = new FormData();
            //var fileFields = $('form input[type=file]')[0].files[0];
            var fileField = $('#fileBase')[0].files[0];

            //$.each(fileFields, function (i, file) {
                data.append('file', fileField);
            //});
                //data.append('files', file);
            data.append('model', JSON.stringify(doc));

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDocument","Documents")', 
                data: data,
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data  
                  
                success: function (result) {  
                    alert('Record Saved.');  
                },  
                error: function (err) {  
                    alert('Error Occured.');  
                }  
            }); 

        }
        function validate() {
            var isValid = true;
            if ($('#matterNumber').val().trim() == "") {
                $('#matterNumber').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#matterNumber').css('border-color', 'lightgrey');
            }
            if ($('#DocName').val().trim() == "") {
                $('#DocName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#DocName').css('border-color', 'lightgrey');
            }
            if ($('#Description').val().trim() == "") {
                $('#Description').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Description').css('border-color', 'lightgrey');
            }
            return isValid;
        }


    </script>

}

