@model IEnumerable<LegalManagementSystem.Models.Document>

@{
    ViewBag.Title = "Index";
}
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">LIST OF DOCUMENTS</h3>
                <a href="@Url.Action("Create","Documents")" class="btn btn-primary">
                    <span style="font-size:x-large" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive ">
                    <table class="table table-responsive table-bordered table-hover" id="documentTable">
                        <thead>
                            <tr>
                                <th>
                                    Matter Number
                                    @*@Html.DisplayNameFor(model => model.MatterNumber)*@
                                </th>
                                <th>
                                    Document Name
                                    @*@Html.DisplayNameFor(model => model.DocName)*@
                                </th>
                                <th>
                                    Assigned Date
                                    @*@Html.DisplayNameFor(model => model.AssignedDate)*@
                                </th>
                                <th>
                                    Tags
                                    @*@Html.DisplayNameFor(model => model.Tags)*@
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.Description)*@
                                    Description
                                </th>
                                <th>Actions</th>
                                <th></th>
                            </tr>
                        </thead>


                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MatterNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DocName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssignedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tags)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a style="margin-right:10px;" href="@Url.Action("Edit","Documents",new {id = item.DocumentId })">
                                            <span style="font-size:large" class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="@Url.Action("Details","Documents",new { id = item.DocumentId})">
                                            <span style="font-size:large" class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                        @*|
                                        @Html.ActionLink("Delete", "Delete", new { id=item.DocumentId })*@
                                    </td>
                                </tr>
                            </tbody>

                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>




@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#documentTable').DataTable();
        });
    </script>
}
