@model IEnumerable<LegalManagementSystem.Models.FileEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.min.css" rel="stylesheet" media="print" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h2>Event Calendar</h2>
<div id="calender"></div>


@*<script src="~/Scripts/lib/jquery.min.js"></script>*@
<script src="~/Scripts/lib/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>
<script>
    $(document).ready(function () {

        var events = [];
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetEvents", "FileEvents")',
            success: function (data) {
                $.each(data, function (i, v) {
                    events.push({
                        title: v.Title,
                        description: v.Description,
                        start: moment(v.Start),
                        end: v.EndDate != null ? moment(v.End) : null,
                        allDay: false,
                        color: '#378006'

                    });
                });
                GenerateCalendar(events);
            },
            error: function (err) {
                alert(err.Message);
            }
        })

        function GenerateCalendar(events) {
            $('#calender').fullCalendar('destroy');
            $('#calender').fullCalendar({
                contentHeight: 400,
                defaultDate: new Date(),
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'prev,next today',
                    //center: title,
                    right:'month,basicWeek,basicDay,agenda'
                },
                eventLimit: true,
                eventColor: '#378006',
                events:events
            })
        }
    })
</script>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) @*|
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
@*</td>
        </tr>
    }

    </table>*@
