@model LegalManagementSystem.Models.Client

@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title align-center">Edit Client</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal" style="margin:0 auto;width:80%">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger">
                                <span class="glyphicon glyphicon-remove-circle">@ViewBag.Error.ToString()</span>
                            </div>
                        }
                        @*@Html.HiddenFor(model => model.ClientId)*@
                        <input type="text" value="@Model.ClientId" id="ClientId" hidden="hidden"/>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">First Name</span>
                                    </div>
                                    <input type="text" value="@Model.FirstName" class="form-control" id="FirstName" placeholder="First Name" aria-label="FirstName" aria- describedby="basic-addon1">
                                </div>
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 col-sm-12">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Middle Name</span>
                                    </div>
                                    <input type="text" value="@Model.MiddleName" class="form-control" id="MiddleName" placeholder="Middle Name" aria-label="MiddleName" aria- describedby="basic-addon1">
                                </div>
                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Last Name</span>
                                    </div>
                                    <input type="text" value="@Model.LastName" class="form-control" id="LastName" placeholder="Last Name" aria- label="LastName" aria-describedby="basic-addon1">
                                </div>
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-mobile-phone"></i></span>
                                    </div>
                                    <input type="text" value="@Model.PhoneNumber" id="PhoneNumber" class="form-control mobile-phone-number" placeholder="Ex: (080) 000-00-000">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                    </div>
                                    <input type="text" value="@Model.EmailAddress" id="EmailAddress" class="form-control email" placeholder="Ex: example@example.com">
                                </div>
                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 col-sm-12">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Postal Code</span>
                                    </div>
                                    <input type="text" value="@Model.PostalCode" class="form-control" id="PostalCode" placeholder="Postal Code" aria- label="PostalCode" aria-describedby="basic-addon1">
                                </div>
                                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Town</span>
                                    </div>
                                    <input type="text" value="@Model.Town" class="form-control" id="Town" placeholder="Town" aria- label="PostalCode" aria-describedby="basic-addon1">
                                </div>
                                @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Website</span>
                                    </div>
                                    <input type="text" value="@Model.Website" class="form-control" id="Website" placeholder="Website" aria- label="PostalCode" aria-describedby="basic-addon1">
                                </div>
                                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Address</span>
                                    </div>
                                    <textarea class="form-control" id="Address" aria-label="With textarea">@Model.Address</textarea>
                                </div>
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-3" style="margin-top:15px; margin-right:5px">
                                    <button type="button" id="update-client" class="btn btn-primary">Update</button>
                                </div>
                                <div class="col-md-3" style="margin-top:15px;">
                                    <a href="@Url.Action("Index","Clients")" class="btn btn-warning">Cancel</a>
                                </div>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#update-client').click(function () {
                updateClient();
            });
        });


        function updateClient() {

             var client = {};
            var url = '@Url.Action("Edit","Clients")';

		    var firstName = $('#FirstName').val();
		    var middleName = $('#MiddleName').val();
		    var lastName = $('#LastName').val();
		    var phoneNumber = $('#PhoneNumber').val();
		    var emailAddress = $('#EmailAddress').val();
		    var postalCode = $('#PostalCode').val();
		    var town = $('#Town').val();
		    var website = $('#Website').val();
            var address = $('#Address').val();
            var clientId = $('#ClientId').val();

            client = {
                ClientId: clientId,
                FirstName: firstName,
                MiddleName: middleName,
                LastName: lastName,
                PhoneNumber: phoneNumber,
                EmailAddress: emailAddress,
                PostalCode: postalCode,
                Town: town,
                Website: website,
                Address: address
            };

            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json',
                dataType: 'json',
                data:JSON.stringify(client),
                success: function (e) {
                    alert('Updated.');
                    window.location.href = '@Url.Action("Index","Clients")';
                },
                error: function (e) {
                    //alert("Error: ");
                    window.location.href = '@Url.Action("Index","Clients")';
                }
            });
        }
    </script>
}
