@model LegalManagementSystem.Models.LineManager
@using LegalManagementSystem.Helpers
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Edit Line Manager</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal" style="margin:20px">
                        @if (ViewBag.Error != null)
                        {
                            <span style="color:red;">@ViewBag.Error.ToString()</span>
                        }
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*@Html.HiddenFor(model => model.LineManagerId)*@
                        <input type="text" id="LineManagerId" value="@Model.LineManagerId" hidden="hidden" />

                        <div class="form-group">
                            <div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Line Manager's Name</span>
                                    </div>
                                    <input type="text" value="@Model.Name" class="form-control" id="Name" placeholder="Line Manager's Name" aria-label="Name" aria- describedby="basic-addon1">
                                </div>
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Department</span>
                                </div>
                                <input type="text" value="@Model.Department" class="form-control" id="Department" placeholder="Department" aria-label="Department" aria- describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Designation</span>
                                </div>
                                <input type="text" class="form-control" id="Designation" value="@Model.Designation" placeholder="Designation" aria-label="Designation" aria- describedby="basic-addon1">
                            </div>
                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                        </div>

                        <div class="row">
                            <div class="col-md-2" style="margin-top:15px; margin-right:5px">
                                <input type="button" id="update-line-manager" value="Update" class="btn btn-info" />
                            </div>
                            <div class="col-md-2" style="margin-top:15px; margin-right:5px">
                                <a href="@Url.Action("Index","LineManagers")" class="btn btn-info">Cancel</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#update-line-manager').click(function () {
                saveLineManager();
            });
        });


        function saveLineManager() {

             var lineManager = {};
            var url = '@Url.Action("Edit","LineManagers")';

            var name = $('#Name').val();
            var department = $('#Department').val();
            var designation = $('#Designation').val();
            var lineManagerId = $('#LineManagerId').val();

            lineManager = {
                Name: name,
                Department: department,
                Designation: designation,
                LineManagerId:lineManagerId
            };

            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json',
                dataType: 'json',
                data:JSON.stringify(lineManager),
                success: function (e) {
                    alert('Updated.');
                    window.location.href = '@Url.Action("Index","LineManagers")';
                },
                error: function (e) {
                    window.location.href = '@Url.Action("Index","LineManagers")';
                }
            });
        }
    </script>

}

