@model IEnumerable<LegalManagementSystem.Models.LineManager>

@{
    ViewBag.Title = "Index";
}
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

<h2>List of Line Managers</h2>

<p>
    <a href="@Url.Action("Create","LineManagers")" class="btn btn-primary">
        <span style="font-size:x-large" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>
</p>
<table class="table table-responsive" id="lineManagerTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th></th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th></th>
        </tr>
    </tfoot>

    @*@foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    <a href="@Url.Action("Edit","LineManagers",new {id = item.LineManagerId })" style="margin-right:10px;">
                        <span style="font-size:large" class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="@Url.Action("Details","LineManagers",new { id = item.LineManagerId})">
                        <span style="font-size:large" class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
            </tr>
        </tbody>

    }*@

</table>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#lineManagerTable').DataTable({
            "ajax": {
                "url": "@Url.Action("GetLineManagers", "LineManagers")",
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "Name", "name": "Name" },
                { "data": "Department", "name": "Department" },
                { "data": "Designation", "name": "Designation" },

            ],
            "serverSide": "true",
            "order": [0, "asc"],
            "processing": "true",
            "language": {
                "processing":"Processing... please wait."
            }
        });
    });
</script>
