@model LegalManagementSystem.Models.Matter
@using LegalManagementSystem.Helpers
@using LegalManagementSystem.Models
@{
    ViewBag.Title = "Create";
}
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole(LegalGuideUtility.ADMINISTRATOR))
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title text-center" style="background-color:#f4f7f6;">Add new Case</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-horizontal" style="padding:10px">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @if (ViewBag.Error != null)
                                {
                                    <span style="color:red;">@ViewBag.Error.ToString()</span>
                                }
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Subject</span>
                                            </div>
                                            <input type="text" class="form-control" id="Subject" placeholder="Subject" aria-                        label="Subject" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Case Number</span>
                                            </div>
                                            <input type="text" class="form-control" id="MatterNumber" placeholder="FGN-UAC-001" aria-                        label="MatterNumber" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Area Of Practice</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.AreaOfPractice, new SelectList(ViewBag.PracticeArea, "Value", "Text"), null, htmlAttributes: new { @class = "form-control",
                                           @id ="practiceArea" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Advocates</span>
                                            </div>
                                            <select class="form-control" id="Assignee" multiple></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12" style="margin-top:2px;">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Client Name</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.ClientId, Enumerable.Empty<SelectListItem>(),                      htmlAttributes: new { @class = "form-control ClientId", @id = "ClientId" })
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-6 col-sm-12" style="margin-top:2px;">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Assigned By</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.LineManagerId, Enumerable.Empty<SelectListItem>(),                 htmlAttributes: new { @class = "form-control staffId", @id = "LineMger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12" style="margin-top:10px;">

                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                            <input type="text" class="form-control" placeholder="Arrival Date" id="ArrivalDate">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button">
                                                <i class="fa fa-calendar"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12" style="margin-top:10px;">

                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                            <input type="text" class="form-control" placeholder="Filed On" id="FiledOn">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12" style="margin-top:10px;">
                                        <div class="input-group date mb-3" data-date-autoclose="true" data-provide="datepicker">
                                            <input type="text" class="form-control" placeholder="Due Date" id="DueDate">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12" style="margin-top:10px;">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Description</span>
                                            </div>
                                            <textarea class="form-control" id="Description" aria-label="With textarea"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Priority</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.Priority, new SelectList(ViewBag.Priority, "Value","Text"), null, htmlAttributes: new { @class = "form-control",@id="Priority" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Case Stage</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.MatterStage, new SelectList(ViewBag.Stage, "Value", "Text"), null, htmlAttributes: new { @class = "form-control", @id = "caseStage" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12" style="margin-top:10px;">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Requested By</span>
                                            </div>
                                            <input type="text" class="form-control" id="RequestedBy" placeholder="Requested By" aria-               label="RequestedBy" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12" style="margin-top:10px;">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Case Value</span>
                                            </div>
                                            <input type="text" class="form-control" id="MatterValue" placeholder="Case Value" aria-             label="MatterValue" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Estimated Effort</span>
                                            </div>
                                            <input type="text" class="form-control" id="EstimatedEffort" placeholder="EstimatedEffort" aria- label="Estimated Effort" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="hidden" id="txtBoxVal" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @*<button type="submit" class="btn btn-primary" id="btnAdd">Add</button>*@
                                        <button type="button" class="btn btn-primary" id="btnAdd">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

        }
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            @*tyle="background-color:#1ac6ff;color: #fff;margin-bottom:5px;"*@
                            <h3 class="card-title text-center">Add new Case</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-horizontal" style="padding:10px">
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @if (ViewBag.Error != null)
                                {
                                    <span style="color:red;">@ViewBag.Error.ToString()</span>
                                }

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Subject</span>
                                        </div>
                                        <input type="text" class="form-control" id="Subject" placeholder="Subject" aria- label="Subject" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Case Number</span>
                                        </div>
                                        <input type="text" class="form-control" id="MatterNumber" placeholder="FGN-UAC-001" aria- label="MatterNumber" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Area Of Practice</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.AreaOfPractice, new SelectList(ViewBag.PracticeArea,"Value", "Text"), null, htmlAttributes: new {@class = "form-control", @id="practiceArea"})
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div>
                                            <label class="control-label">Select Assignee</label>
                                        </div>
                                        <div>
                                            <select class="form-control" id="Assignee" multiple></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Client Name</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.ClientId, Enumerable.Empty<SelectListItem>(),                      htmlAttributes: new { @class = "form-control ClientId", @id = "ClientId" })
                                            @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Assigned By</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.LineManagerId, Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @class = "form-control staffId", @id = "LineMger", disabled = "disabled"})
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">

                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                            <input type="text" class="form-control" placeholder="Arrival Date" id="ArrivalDate">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">

                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                            <input type="text" class="form-control" placeholder="Filed On" id="FiledOn">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">

                                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                            <input type="text" class="form-control" placeholder="Due Date" id="DueDate">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6 col-sm-12">

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Description</span>
                                            </div>
                                            <textarea class="form-control" id="Description" aria-label="With textarea"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Priority</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.Priority, new SelectList(ViewBag.Priority, "Value","Text"), null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">Case Stage</span>
                                            </div>
                                            @Html.DropDownListFor(model => model.MatterStage, new SelectList(ViewBag.Stage, "Value", "Text"), null, htmlAttributes: new { @class = "form-control", @id = "caseStage" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Requested By</span>
                                            </div>
                                            <input type="text" class="form-control" id="RequestedBy" placeholder="Requested By" aria-               label="RequestedBy" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Case Value</span>
                                            </div>
                                            <input type="text" class="form-control" id="MatterValue" placeholder="Case Value" aria- label="MatterValue" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Estimated Effort</span>
                                            </div>
                                            <input type="text" class="form-control" id="EstimatedEffort" placeholder="EstimatedEffort" aria- label="Estimated Effort" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="hidden" id="txtBoxVal" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @*<button type="submit" class="btn btn-primary btn-block" id="btnAdd">Add</button>*@
                                        <button type="button" class="btn btn-primary btn-block" id="btnAdd">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>

        }
    }
}

@section scripts{
            <script src="~/Scripts/select2.min.js"></script>
    <script>
        $(document).ready(function () {

            select2DropDown('ClientId', '@Url.Action("GetClientForDropDown", "Matters")', "Select Client");
            select2DropDown('Assignee', '@Url.Action("GetStaffForDropDown", "Matters")', "Select Advocate");
            select2DropDown('LineMger', '@Url.Action("GetLineManagerForDropDown", "Matters")', "Select Line Manager");

            

            $('#btnAdd').on("click", function () {
                AddCase();
                SaveAssignee();
            });
        });
        //Add Data Function   
        function AddCase() { 
            var url = '@Url.Action("SaveCase","Matters")';
            var res = validate();
            
            if (res == false) {  
                return false;  
            }
            
            var model = {  
                MatterNumber:$('#MatterNumber').val(),
                MatterStage: $('#caseStage').val(),
                MatterValue: $('#MatterValue').val(),
                RequestedBy: $('#RequestedBy').val(),
                AreaOfPractice: $('#practiceArea').val(),
                ArrivalDate: new Date( $('#ArrivalDate').val()),
                Description: $('#Description').val(),
                EstimatedEffort: $('#EstimatedEffort').val(),
                FiledOn: new Date($('#FiledOn').val()),
                LineManagerId: $('#LineMger').val(),
                ClientId: $('#ClientId').val(),
                Subject: $('#Subject').val(),
                Priority: $('#Priority').val(),
                DueDate: new Date($('#DueDate').val())
            };
            
            $.ajax({  
                url: url,  
                data: JSON.stringify(model),  
                type: "POST",  
                contentType: "application/json;charset=utf-8",  
                dataType: "json",  
                success: function (e) {  
                    //loadData();  
                    //$('#myModal').modal('hide');
                    alert('Saved.');
                    window.location.href = '@Url.Action("Index","Matters")';
                    
                },  
                error: function (errormessage) {  
                    alert('Error Occured.'); 
                    //window.location.href = '@Url.Action("Index","Matters")';
                }  
            });  
        } 

        function SaveAssignee() {
            var assigneeId = $('#Assignee').val();
                $("#txtBoxVal").val(assigneeId);
                var matterNumber = $('#MatterNumber').val();
                var textBoxValue = $("#txtBoxVal").val();

                $.ajax({
                    url: '@Url.Action("AddAssignee", "Matters")?data=' + textBoxValue + '&matterNumber=' + matterNumber,
                    datatype: 'json',
                    type: 'post',
                    contentType: 'application/json'

                });
        }
        function select2DropDown(elementId, url, placeholder) {
                $('#' + elementId).select2({
                    placeholder: placeholder,
                    //minimumInputLength:3,
                    allowclear: true,
                    theme: "classic",
                    ajax: {
                        url: url,
                        datatype: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                searchKey: params.term
                            };
                        },
                        processResults: function (data, params) {
                            return {
                                results: data
                            };
                        }
                    }
                });
        }

        //Valdidation using jquery  
        function validate() {  
            var isValid = true;  
            if ($('#Subject').val().trim() == "") {  
                $('#Subject').css('border-color', 'Red');  
                isValid = false;  
            }  
            else {  
                $('#Subject').css('border-color', 'lightgrey');  
            }  
            if ($('#MatterValue').val().trim() == "") {  
                $('#MatterValue').css('border-color', 'Red');  
                isValid = false;  
            }  
            else {  
                $('#MatterValue').css('border-color', 'lightgrey');  
            }  
            if ($('#EstimatedEffort').val().trim() == "") {  
                $('#EstimatedEffort').css('border-color', 'Red');  
                isValid = false;  
            }  
            else {  
                $('#EstimatedEffort').css('border-color', 'lightgrey');  
            }  
            if ($('#Description').val().trim() == "") {  
                $('#Description').css('border-color', 'Red');  
                isValid = false;  
            }  
            else {  
                $('#Description').css('border-color', 'lightgrey');  
            } 
            if ($('#MatterNumber').val().trim() == "") {  
                $('#MatterNumber').css('border-color', 'Red');  
                isValid = false;  
            }  
            else {  
                $('#MatterNumber').css('border-color', 'lightgrey');  
            }
            if ($('#FiledOn').val().trim() == "") {  
                $('#FiledOn').css('border-color', 'Red');  
                isValid = false;  
            }  
            else {  
                $('#FiledOn').css('border-color', 'lightgrey');  
            }
            if ($('#DueDate').val().trim() == "") {  
                $('#DueDate').css('border-color', 'Red');  
                isValid = false;  
            }  
            else {  
                $('#DueDate').css('border-color', 'lightgrey');  
            }
            return isValid;  
        }  
        //Function for clearing the textboxes  
        function clearTextBox() {  
            $('#Subject').val("");  
            $('#MatterValue').val("");  
            $('#Description').val("");  
            $('#MatterNumber').val("");  
            $('#Country').val("");  
            //$('#btnUpdate').hide();  
            $('#btnAdd').show();  
            $('#Subject').css('border-color', 'lightgrey');  
            $('#MatterNumber').css('border-color', 'lightgrey');  
            $('#Description').css('border-color', 'lightgrey');  
            $('#MatterValue').css('border-color', 'lightgrey');  
        }

        //Load Data function  
        function loadData() {  
            $.ajax({  
                url: "/Home/List",  
                type: "GET",  
                contentType: "application/json;charset=utf-8",  
                dataType: "json",  
                success: function (result) {  
                    var html = '';  
                    $.each(result, function (key, item) {  
                        html += '<tr>';  
                        html += '<td>' + item.EmployeeID + '</td>';  
                        html += '<td>' + item.Name + '</td>';  
                        html += '<td>' + item.Age + '</td>';  
                        html += '<td>' + item.State + '</td>';  
                        html += '<td>' + item.Country + '</td>';  
                        html += '<td><a href="#" onclick="return getbyID(' + item.EmployeeID + ')">Edit</a> | <a href="#" onclick="Delele(' + item.EmployeeID + ')">Delete</a></td>';  
                        html += '</tr>';  
                    });  
                    $('.tbody').html(html);  
                },  
                error: function (errormessage) {  
                    alert(errormessage.responseText);  
                }  
            });  
        }  
    </script>
}

