@model IEnumerable<LegalManagementSystem.Models.Matter>

@{
    ViewBag.Title = "Index";
}
@*<h3 class="text-center">List of Cases</h3>*@
<p>
    
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center">LIST OF CASES</h3>
        <a href="@Url.Action("Create","Matters")" class="btn btn-primary">
            <span style="font-size:x-large" class="glyphicon glyphicon-plus-sign pull-left" aria-hidden="true"></span>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-responsive" id="tbl-matter">
                <tr>
                    <th>
                        SUBJECT
                        @*@Html.DisplayNameFor(model => model.Subject)*@
                    </th>
                    <th>
                        DESCRIPTION
                        @*@Html.DisplayNameFor(model => model.Description)*@
                    </th>
                    <th>
                        AREA OF PRACTICE
                        @*@Html.DisplayNameFor(model => model.AreaOfPractice)*@
                    </th>
                    <th>
                        ARRIVAL DATE
                        @*@Html.DisplayNameFor(model => model.ArrivalDate)*@
                    </th>
                    <th>
                        FILED ON
                        @*@Html.DisplayNameFor(model => model.FiledOn)*@
                    </th>
                    <th>
                        CASE STATUS
                        @*@Html.DisplayNameFor(model => model.MatterStage)*@
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.RequestedBy)
                </th>*@
                    <th>
                        CLIENT NAME
                    </th>
                    @*<th>STATUS</th>*@
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AreaOfPractice)
                        </td>
                        <td>
                            @item.ArrivalDate.Value.ToShortDateString()
                            @*@Html.DisplayFor(modelItem => item.ArrivalDate)*@
                        </td>
                        <td>
                            @item.FiledOn.Value.ToShortDateString()
                            @*@Html.DisplayFor(modelItem => item.FiledOn)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatterStage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Client.FirstName)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.CourtStatus)
                        </td>*@
                        <td>
                            <a href="@Url.Action("Edit","Matters",new {id = item.MatterNumber })" style="margin-right:10px;">
                                <span style="font-size:large" class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="@Url.Action("GetCourtActivitiesByMatterNumber","CourtActivities" , new {id=item.MatterNumber })">
                                <span style="font-size:large" class="glyphicon glyphicon-briefcase"></span>
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>



@section scripts{
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
        $('#tbl-matter').DataTable({
            
        });
    });
  </script>

}

