@model IEnumerable<LegalManagementSystem.Models.Matter>

@{
    ViewBag.Title = "Index";
}
@*<h3 class="text-center">List of Cases</h3>*@
<p>
    
</p>
<div class="card">
    <div class="card-header">
        <h5 class="card-title text-center" style="background-color:#f4f7f6;">LIST OF CASES</h5>
        <a href="@Url.Action("Create","Matters")" class="btn btn-primary">
            <span style="font-size:x-large" class="glyphicon glyphicon-plus-sign pull-left" aria-hidden="true"></span>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="width:1000px;margin:0 auto">
            <table class="table table-striped table-responsive table-hover" id="tbl-matter">
                <tr>
                    <th>
                        SUBJECT
                    </th>
                    <th>
                        DESCRIPTION
                    </th>
                    <th>
                        AREA OF PRACTICE
                    </th>
                    <th>
                        ARRIVAL DATE
                    </th>
                    <th>
                        FILED ON
                    </th>
                    <th>
                        CASE STATUS
                    </th>
                    <th>
                        CLIENT NAME
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AreaOfPractice)
                        </td>
                        <td>
                            @item.ArrivalDate.Value.ToShortDateString()
                        </td>
                        <td>
                            @item.FiledOn.Value.ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatterStage)
                        </td>
                        <td>
                            @*@string.Format('{0}{1}{2}',item.Client.FirstName,item.Client.MiddleName,item.Client.LastName)*@ 
                            @Html.DisplayFor(modelItem => item.Client.FirstName)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","Matters",new {id = item.MatterNumber })" style="margin-right:10px;">
                                <span style="font-size:large" class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a href="@Url.Action("GetCourtActivitiesByMatterNumber","CourtActivities" , new {id=item.MatterNumber })">
                                <span style="font-size:large" class="glyphicon glyphicon-briefcase"></span>
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>



@section scripts{
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
        $('#tbl-matter').DataTable({
            
        });
    });
  </script>

}

