@model IEnumerable<LegalManagementSystem.Models.Matter>

@{
    ViewBag.Title = "Index";
}
@*<link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />*@
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" /> 
<h2>Matters</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-condensed table-bordered table-responsive" id="matterIndex">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaOfPractice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiledOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatterNumber)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.MatterStage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaOfPractice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiledOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatterNumber)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.MatterStage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
                @Html.ActionLink("Court Activity", "Create", "CourtActivities")
            </td>
        </tr>
    }

</table>
@*<script src="~/Content/DataTables/datatables.min.js"></script>*@
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#matterIndex').DataTable();
    });

</script>