@model IEnumerable<LegalManagementSystem.Models.Matter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaOfPractice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatterNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiledOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatterStage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaOfPractice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatterNumber, new { id = "matterNumber" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiledOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatterStage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MatterNumber }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.MatterNumber }) |*@
                @Html.ActionLink("Court Activity", "Create", "CourtActivities")
                @*|
                    @Html.ActionLink("Delete", "Delete", new { id=item.MatterNumber })*@
            </td>
        </tr>
    }

</table>
<script>
    $(document).ready(function () {
        $('#btnMatterNumber').on("click",function () {
        var matterNumber = $('#matterNumber').val();

            $.ajax({
                url: '@Url.Action("GetMatterNumber", "CourtActivities")?matterNumber=' + matterNumber,
                datatype: 'json',
                type: 'post',
                contentType: 'application/json'

            });
        });
    });

</script>
