@model IEnumerable<LegalManagementSystem.Models.Matter>

@{
    ViewBag.Title = "Index";
}
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<h2>List of Cases</h2>

<p>
    <a href="@Url.Action("Create","Matters")" class="btn btn-primary">
        <span style="font-size:x-large" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>
</p>
<table class="table table-responsive" id="casetable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaOfPractice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiledOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatterStage)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tfoot>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaOfPractice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatterNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FiledOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatterStage)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Matters",new {id = item.MatterNumber })" style="margin-right:10px;">
                        <span style="font-size:large" class="glyphicon glyphicon-edit"></span>
                    </a>
                    @*@Html.ActionLink("Details", "Details", new { id=item.MatterNumber }) |*@

                    <a href="@Url.Action("Create","CourtActivities")">
                        <span style="font-size:large" class="glyphicon glyphicon-briefcase"></span>
                    </a>
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.MatterNumber })*@
                </td>
            </tr>
        </tfoot>

    }

</table>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#casetable').DataTable({

            language: {
                "zeroRecords": " "
            }
        });

        $('#btnMatterNumber').on("click",function () {
        var matterNumber = $('#matterNumber').val();

            $.ajax({
                url: '@Url.Action("GetMatterNumber", "CourtActivities")?matterNumber=' + matterNumber,
                datatype: 'json',
                type: 'post',
                contentType: 'application/json'

            });
        });
    });

</script>
