@model IEnumerable<LegalManagementSystem.Models.Education>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h2>List of Schools Attended</h2>

<p>
    <a href="@Url.Action("Create","Educations")" class="btn btn-primary">
        <span style="font-size:x-large" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Major)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DateAwarded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Graduated)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.School)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Major)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DateAwarded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Graduated)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Qualification)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            <a href="@Url.Action("Edit","Educations",new {id = item.Id  })" style="margin-right:10px;">
                <span style="font-size:large" class="glyphicon glyphicon-edit"></span>
            </a>
            <a href="@Url.Action("Details","Educations",new {id = item.Id})">
                <span style="font-size:large" class="glyphicon glyphicon-eye-open"></span>
            </a>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id })*@ @*|
        @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
