@model LegalManagementSystem.Models.CourtActivity
@using LegalManagementSystem.Helpers
@{
    ViewBag.Title = "Add Court Activities";
}
<link href="~/Content/css/select2.min.css" rel="stylesheet" />

<div class="row" style="margin-top:20px;">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="card">
            @*style="background-color:#1ac6ff;color: #fff;margin-bottom:5px;"*@
            <div class="card-header">
                <h3 class="card-title text-center">Enter Court Activity</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal" style="padding:5px;">

                    <div class="row">
                        <div class="col-md-6 col-sm-12">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Court Name</span>
                                </div>
                                <input type="text" class="form-control" id="CourtName" placeholder="Court Name" aria-label="CourtName" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Location</span>
                                </div>
                                <input type="text" class="form-control" id="Location" placeholder="Location" aria-label="Location" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="input-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Judge Name</span>
                                    </div>
                                    <input type="text" class="form-control" id="JudgeName" placeholder="Judge Name" aria-label="JudgeName" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Defense Counsel Name</span>
                                </div>
                                <input type="text" class="form-control" id="DefenseCounselName" placeholder="Defense Counsel Name" aria-label="DefenseCounselName" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                                <input type="text" class="form-control" placeholder="Hearing Date" id="DateHeared">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="col-md-12 col-sm-12">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
                                    </div>
                                    @Html.DropDownListFor(model => model.Status, new SelectList(ViewBag.Status, "Value", "Text"), null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" style="margin-top:15px;">
                        <div class="input-group date" data-date-autoclose="true" data-provide="datepicker">
                            <input type="text" class="form-control" placeholder="Date Adjourned" id="DateAdjourned">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="margin-top:15px;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Plantiff Argument</span>
                                </div>
                                <div class="summernote">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="margin-top:15px;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Defendant Argument</span>
                                </div>
                                <div class="summernote">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="margin-top:15px;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Judgement Passed</span>
                                </div>
                                <div class="summernote">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="margin-top:15px;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Plantiff Summary Note</span>
                                </div>
                                <div class="summernote">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:15px;">
                        <div class="col-md-12 col-sm-12">
                            <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>
<h2></h2>

@section scripts{
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        $(document).ready(function () {

            select2DropDown('matterNumber', '@Url.Action("GetMatterForDropDown", "CourtActivities")', "Select Case");

            $('#btnSave').click(function () {
                saveCourtActivity();
            });

            summerNote();
        });

        function saveCourtActivity() {

           var res = validate();
            
            if (res == false) {  
                return false;  
            }


            //
            //var url =
            var courtActivity = {};

            var courtName = $('#CourtName').val();
            var location = $('#Location').val();
            var status = $('#Status').val();
            var judgeName = $('#JudgeName').val();
            var defenseCounselName = $('#DefenseCounselName').val();
            var dateHeared = new Date( $('#DateHeared').val());
            var dateAdjourned = new Date( $('#DateAdjourned').val());
            var advocateArgument = $('.summernote').summernote('code');
            var opponentArgument = $('.summernote').eq(1).summernote('code');
            var judgement = $('.summernote').eq(2).summernote('code');
            var advocateNote = $('.summernote').eq(3).summernote('code')

            courtActivity = {
                CourtName: courtName,
                Location: location,
                Status: status,
                JudgeName: judgeName,
                DefenseCounselName: defenseCounselName,
                DateHeared: new Date(dateHeared),
                DateAdjourned: new Date(dateAdjourned),
                AdvocateArgument: advocateArgument,
                OpponentArgument: opponentArgument,
                Judgement: judgement,
                AdvocateNote: advocateNote

            };

            $.ajax({

                type: 'POST',
                url: '@Url.Action("SaveCourtActivity","CourtActivities")',
                data: JSON.stringify(courtActivity),
                contentType: 'application/json',
                success: function () {
                    alert('Saved');
                    window.location.href='@Url.Action("Index","Matters")'
                },
                error: function (e) {
                    window.location.href='@Url.Action("Index","Matters")'
                    //alert(e);
                }
            });
        }

        function select2DropDown(elementId,url,placeholder) {
            $('#' + elementId).select2({
                placeholder: placeholder,
                //minimumInputLength:3,
                allowclear: true,
                theme: "classic",
                ajax: {
                    url: url,
                    datatype: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            searchKey: params.term
                        };
                    },
                    processResults: function (data,params) {
                        return {
                            results: data
                        };
                    }
                }
            });
        }

        //Valdidation using jquery
        function validate() {
            var isValid = true;
            if ($('#CourtName').val().trim() == "") {
                $('#CourtName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#CourtName').css('border-color', 'lightgrey');
            }
            if ($('#Location').val().trim() == "") {
                $('#Location').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Location').css('border-color', 'lightgrey');
            }
            if ($('#Status').val().trim() == "") {
                $('#Status').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Status').css('border-color', 'lightgrey');
            }
            if ($('#DefenseCounselName').val().trim() == "") {
                $('#DefenseCounselName').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#DefenseCounselName').css('border-color', 'lightgrey');
            }
            if ($('#DateHeared').val().trim() == "") {
                $('#DateHeared').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#DateHeared').css('border-color', 'lightgrey');
            }
            //if ($('#DateAdjourned').val().trim() == "") {
            //    $('#DateAdjourned').css('border-color', 'Red');
            //    isValid = false;
            //}
            //else {
            //    $('#DateAdjourned').css('border-color', 'lightgrey');
            //}
            if ($('.summernote').summernote('code').trim() == "") {
                $('.summernote').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('.summernote').css('border-color', 'lightgrey');
            }
            return isValid;

            if ($('.summernote').eq(1).summernote('code').trim() == "") {
                $('.summernote').eq(1).summernote.css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('.summernote').eq(1).summernote.css('border-color', 'lightgrey');
            }
            return isValid;

            if ($('.summernote').eq(2).summernote('code').trim() == "") {
                $('.summernote').eq(2).summernote.css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('.summernote').eq(2).summernote.css('border-color', 'lightgrey');
            }
            return isValid;
        }

        window.edit = function() {
            $(".click2edit").summernote()
        },

        window.save = function() {
            $(".click2edit").summernote('destroy');
        }
        function summerNote() {
             $('.summernote').summernote({
                height: 50, // set editor height
                minHeight: null, // set minimum height of editor
                maxHeight: null, // set maximum height of editor
                focus: false, // set focus to editable area after initializing summernote
                popover: { image: [], link: [], air: [] }
             });

            $('.inline-editor').summernote({
                airMode: true
            });
        }

    </script>
}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@


