@model IEnumerable<LegalManagementSystem.Models.CourtActivity>

@{
    ViewBag.Title = "Index";
}
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-0"></div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center text-capitalize">Court Activities</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive table-bordered table-hover" id="courtTable">
                        <thead>
                            <tr>
                                <th>
                                    Case Number
                                </th>
                                <th>
                                    Date Heared
                                </th>
                                <th>
                                    Court Name
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Defense Counsel Name
                                </th>
                                <th>
                                    Date Adjourned
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MatterNumber)
                                    </td>
                                    <td>
                                        @item.DateHeared.ToShortDateString()
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CourtName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Location)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DefenseCounselName)
                                    </td>
                                    <td>
                                        @item.DateAdjourned.Value.ToShortDateString()
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit","CourtActivities", new {id = item.Id  })">
                                            <span style="font-size:large" class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="@Url.Action("Details","CourtActivities",new {id = item.Id  })">
                                            <span style="font-size:large" class="glyphicon glyphicon-eye-open"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                        }

                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="modal modal-lg" id="Passwordmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3>Please Enter your Profile Password</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtPassword" placeholder="Enter Profile Password" />
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-primary" value="Submit" id="btnSubmit" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="close" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>

</div>
@section scripts{
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#courtTable').DataTable({

        });
        getStaffPassword();
    });

        function getCourtActivities() {
            $('#courtTable').DataTable({
            "ajax": {
                "url": "@Url.Action("GetCourtActivities", "CourtActivities")",
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "MatterNumber", "name": "MatterNumber" },
                { "data": "DateHeared", "name": "DateHeared" },
                { "data": "CourtName", "name": "CourtName" },
                { "data": "Location", "name": "Location" },
                { "data": "Status", "name": "Status" },
                { "data": "AdvocateArgument", "name": "AdvocateArgument" },
                { "data": "OpponentArgument", "name": "OpponentArgument" },
                { "data": "DefenseCounselName", "name": "DefenseCounselName" },
                { "data": "AdvocateNote", "name": "AdvocateNote" },
                { "data": "DateAdjourned", "name": "DateAdjourned" },

            ],
            "serverSide": "true",
            "order": [0, "asc"],
            "processing": "true",
            "language": {
                "processing":"Processing... please wait."
            }
        });
        }
        function getStaffPassword() {
            $('#btnSubmit').on('click', function () {
            var password = $('#txtPassword').val();
            $('#Passwordmodal').modal('toggle');
            $('.modal').modal('hide').data('bs.modal', null);
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetStaffPassword", "CourtActivities")' + '?password=' + password,
                contentType: "application/json; charset=utf-8",
                dataType: "json"
                //success: function (response) {
                //    if (response != null) {
                //    }
                //},
            });
        })
        }
    </script>

}

